<div class="example-container mat-elevation-z8">
  <h2>Add Employees</h2>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/emp']"
      ><mat-icon>list</mat-icon></a
    >
  </div>
  <mat-card class="example-card">
    <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label> Name</mat-label>
        <input
          matInput
          placeholder="Employee Name"
          formControlName="empName"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !empForm.get('empName').valid && empForm.get('empName').touched
            "
            >Please enter Name</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Employee Email"
          formControlName="empEmail"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !empForm.get('empEmail').valid && empForm.get('empEmail').touched
            "
            >Please enter Email</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Employee Password"
          formControlName="empPassword"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !empForm.get('empPassword').valid &&
              empForm.get('empPassword').touched
            "
            >Please enter Password</span
          >
        </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button
          type="submit"
          [disabled]="!empForm.valid"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
